name: Build
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: |
        apt update && apt install libuv1-dev
        ./bin/reconf.sh
        mkdir _build && cd _build
        ../configure
        make check
