name: Build
on:
  push:
    branches:
    - "**"
    paths:
    - src/**
    - test/**
  workflow_dispatch:
jobs:
  build:
    uses: denischanc/gh-workflows/.github/workflows/build-autotools.yml@master
    with:
      packages-to-install: libuv1-dev
