name: Nightly cron
on:
  schedule:
  - cron: "10 1 * * *"
jobs:
  check:
    if: ${{ github.ref_name == 'master' }}
    runs-on: ubuntu-slim
    outputs:
      delete: ${{ steps.delete.outputs.delete }}
      create: ${{ steps.create.outputs.create }}
    steps:
    - uses: actions/checkout@v6
    - run: echo "NIGHTLY_TAG_SHA=$(git show-ref -s nightly)" >> $GITHUB_ENV
    - id: delete
      if: ${{ (github.sha != env.NIGHTLY_TAG_SHA) && (env.NIGHTLY_TAG_SHA != '') }}
      run: echo "delete=OK" >> $GITHUB_OUTPUT
    - id: create
      if: ${{ github.sha != env.NIGHTLY_TAG_SHA }}
      run: echo "create=OK" >> $GITHUB_OUTPUT
  delete:
    needs: [check]
    if: ${{ jobs.check.outputs.delete == 'OK' }}
    runs-on: ubuntu-slim
    env:
      GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v6
    - run: echo "RELEASE_ID=$(./bin/github.sh release_id nightly)" >> $GITHUB_ENV
    - if: ${{ env.RELEASE_ID != "" }}
      run: ./bin/github.sh delete_release $RELEASE_ID
  create:
    needs: [delete]
    if: ${{ jobs.check.outputs.create == 'OK' }}
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v6
    - run: git tag -f nightly
    - run: git push origin nightly
