name: Nightly cron
on:
  schedule:
  - cron: "0 1 * * *"
  workflow_dispatch:
jobs:
  check-tag:
    runs-on: ubuntu-slim
    outputs:
      delete-tag: ${{ steps.delete-tag.outputs.delete-tag }}
      create-tag: ${{ steps.create-tag.outputs.create-tag }}
    steps:
    - uses: actions/checkout@v6
    - run: git pull -t
    - run: echo "NIGHTLY_TAG_SHA=$(git show-ref -s nightly)" >> $GITHUB_ENV
    - run: for v in NIGHTLY_TAG_SHA GITHUB_SHA; do eval echo \"$v=[\$$v]\"; done
    - id: delete-tag
      if: (github.sha != env.NIGHTLY_TAG_SHA) && (env.NIGHTLY_TAG_SHA != '')
      run: echo "delete-tag=OK" >> $GITHUB_OUTPUT
    - id: create-tag
      if: github.sha != env.NIGHTLY_TAG_SHA
      run: echo "create-tag=OK" >> $GITHUB_OUTPUT
  delete-tag:
    needs: [check-tag]
    if: needs.check-tag.outputs.delete-tag == 'OK'
    runs-on: ubuntu-slim
    env:
      GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v6
    - run: echo "RELEASE_ID=$(./bin/github.sh release_id nightly)" >> $GITHUB_ENV
    - if: env.RELEASE_ID != ''
      run: ./bin/github.sh delete_release $RELEASE_ID
    - run: git push -d origin nightly
  create-tag:
    needs: [check-tag, delete-tag]
    if: always() && (needs.check-tag.outputs.create-tag == 'OK')
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v6
    - run: git tag nightly
    - run: git push origin nightly
